.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.login {
  width: 1440px;
  height: 960px;
  display: block;
  flex-shrink: 0;
}
.login2 {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 960px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.section {
  width: 780px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
}
.content {
  width: 360px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 44px);
  height: calc(100% + 44px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 44px;
}
.group4385 {
  width: 149px;
  height: 22px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__vjLyi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #91c36c;
  width: 8px;
  height: 5px;
  display: block;
  top: 0%;
  left: 0%;
}
.img__xvQoX {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.4630000000000001px, 0px);
  width: 26.814px;
  height: 22px;
  display: block !important;
  top: 0px;
  left: 7px;
}
.img__xvQoX > picture > img {
  object-fit: cover;
}
.svg__zzZ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(0.10699999999999932px, 0px);
  width: 22px;
  height: 22px;
  display: block;
  top: 0%;
  left: 24.28%;
}
.svg__fn1Uu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(0.267000000000003px, 0px);
  width: 19px;
  height: 22px;
  display: block;
  top: 0%;
  left: 39.8%;
}
.svg__exaAd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(-0.028000000000005798px, 0px);
  width: 6px;
  height: 22px;
  display: block;
  top: 0%;
  left: 53.96%;
}
.svg__xDn1M {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(0.0030000000000001137px, 0px);
  width: 22px;
  height: 22px;
  display: block;
  top: 0%;
  left: 58.69%;
}
.svg__yNcPl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(0.33199999999999363px, 0px);
  width: 20px;
  height: 22px;
  display: block;
  top: 0%;
  left: 72.85%;
}
.svg__dDeGy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(-0.19200000000000728px, 0px);
  width: 19px;
  height: 22px;
  display: block;
  top: 0%;
  left: 87.7%;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.textAndSupportingText > :global(.__wab_flex-container) > *,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text {
  display: block;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: rgba(15, 23, 40, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(71, 84, 102, 1);
  align-self: stretch;
  position: relative;
}
.frame4386 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame4386 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame4386 > :global(.__wab_flex-container) > *,
.frame4386 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4386 > :global(.__wab_flex-container) > picture > img,
.frame4386
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  border-radius: 12px;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.form {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.form > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.inputField {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputField > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputField > :global(.__wab_flex-container) > *,
.inputField > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputField > :global(.__wab_flex-container) > picture > img,
.inputField
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.inputWithLabel {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputWithLabel > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputWithLabel > :global(.__wab_flex-container) > *,
.inputWithLabel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWithLabel > :global(.__wab_flex-container) > picture > img,
.inputWithLabel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.label {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(52, 64, 83, 1);
  position: relative;
}
.input {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(207, 212, 220, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  padding: 10px 14px;
}
.input > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.input > :global(.__wab_flex-container) > *,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input > :global(.__wab_flex-container) > picture > img,
.input > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.content3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text2 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  position: relative;
}
.helpIcon {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img__sgCc5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block !important;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.img__sgCc5 > picture > img {
  object-fit: cover;
}
.hintText {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(71, 84, 102, 1);
  align-self: stretch;
  position: relative;
}
.inputField2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputField2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputField2 > :global(.__wab_flex-container) > *,
.inputField2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputField2 > :global(.__wab_flex-container) > picture > img,
.inputField2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.inputWithLabel2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.inputWithLabel2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.inputWithLabel2 > :global(.__wab_flex-container) > *,
.inputWithLabel2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWithLabel2 > :global(.__wab_flex-container) > picture > img,
.inputWithLabel2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.label2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(52, 64, 83, 1);
  position: relative;
}
.input2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(207, 212, 220, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  padding: 10px 14px;
}
.input2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.input2 > :global(.__wab_flex-container) > *,
.input2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.input2 > :global(.__wab_flex-container) > picture > img,
.input2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.content4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.content4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.content4 > :global(.__wab_flex-container) > *,
.content4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content4 > :global(.__wab_flex-container) > picture > img,
.content4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text3 {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(102, 112, 132, 1);
  position: relative;
}
.helpIcon2 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img__rZm8O {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block !important;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.img__rZm8O > picture > img {
  object-fit: cover;
}
.hintText2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(71, 84, 102, 1);
  align-self: stretch;
  position: relative;
}
.row {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkbox {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.checkbox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkbox > :global(.__wab_flex-container) > *,
.checkbox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkbox > :global(.__wab_flex-container) > picture > img,
.checkbox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.input3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
.checkboxBase {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(207, 212, 220, 1);
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 4px;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text4 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(52, 64, 83, 1);
  align-self: stretch;
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(71, 84, 102, 1);
  align-self: stretch;
  position: relative;
}
.button {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__a5UWn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__a5UWn > picture > img {
  object-fit: cover;
}
.text5 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(3, 71, 97, 1);
  position: relative;
}
.img__pZx1A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__pZx1A > picture > img {
  object-fit: cover;
}
.actions {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.actions > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.actions > :global(.__wab_flex-container) > *,
.actions > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions > :global(.__wab_flex-container) > picture > img,
.actions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button2 {
  background: rgba(3, 71, 97, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(126, 86, 216, 1);
  filter: drop-shadow(0px 1px 1px rgba(15, 23, 39, 0.05));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 8px;
  padding: 10px 18px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zopLd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text6 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__ehOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.row2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.row2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.row2 > :global(.__wab_flex-container) > *,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row2 > :global(.__wab_flex-container) > picture > img,
.row2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.text7 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(71, 84, 102, 1);
  position: relative;
}
.button3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
}
.button3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button3 > :global(.__wab_flex-container) > *,
.button3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button3 > :global(.__wab_flex-container) > picture > img,
.button3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__eZNoo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img__eZNoo > picture > img {
  object-fit: cover;
}
.text8 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(3, 71, 97, 1);
  position: relative;
}
.img___78Bxi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.img___78Bxi > picture > img {
  object-fit: cover;
}
.freeBox {
  display: block;
  position: relative;
  width: 32px;
  height: 45px;
  flex-shrink: 0;
}
.group215 {
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 32px;
  height: 45px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group216 {
  width: 32px;
  height: 45px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
}
.click {
  width: 32px;
  height: 32px;
  display: flex;
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: row;
}
.click > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.click > :global(.__wab_flex-container) > *,
.click > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.click > :global(.__wab_flex-container) > picture > img,
.click > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img__dn4JI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  width: 24.18px;
  height: 32px;
  display: block !important;
  flex-shrink: 0;
}
.img__dn4JI > picture > img {
  object-fit: cover;
}
.text__ha8Cx {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Neue Haas Grotesk Display Std";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 11px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 34px;
  left: 2px;
  transform: translate(0.033999999999991815px, 0px);
  transform-origin: top left;
}
.logo {
  width: 142px;
  height: 32px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame1 {
  width: 71px;
  height: 21px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img__gRyld {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 52.586px;
  height: 20px;
  display: block !important;
  top: 1px;
  left: 0px;
}
.img__gRyld > picture > img {
  object-fit: cover;
}
.svg__vU4Rp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #044862;
  transform: translate(0.4230000000000018px, 0px);
  width: 19px;
  height: 20px;
  display: block;
  top: 0%;
  left: 73.23%;
}
.frame4422Khu {
  background: rgba(228, 234, 240, 1);
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  padding-left: 23px;
  padding-right: 23px;
}
.frame4422Khu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.frame4422Khu > :global(.__wab_flex-container) > *,
.frame4422Khu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4422Khu > :global(.__wab_flex-container) > picture > img,
.frame4422Khu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__gNqN {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 27px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame4423 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame4423 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.frame4423 > :global(.__wab_flex-container) > *,
.frame4423 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4423 > :global(.__wab_flex-container) > picture > img,
.frame4423
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.frame4392 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame4392 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame4392 > :global(.__wab_flex-container) > *,
.frame4392 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4392 > :global(.__wab_flex-container) > picture > img,
.frame4392
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.universalStudiosHollywood1 {
  background: url("./images/universalStudiosHollywood1.jpg") center center / cover no-repeat;
  width: 314px;
  height: 216px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 24px;
}
.supportingText3 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 27px;
  color: rgba(15, 23, 39, 1);
  align-self: stretch;
  position: relative;
}
.frame4393 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame4393 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame4393 > :global(.__wab_flex-container) > *,
.frame4393 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4393 > :global(.__wab_flex-container) > picture > img,
.frame4393
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.universalStudiosHollywood2 {
  background: url("./images/universalStudiosHollywood2.jpg") center center / cover no-repeat;
  width: 314px;
  height: 216px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 24px;
}
.supportingText4 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 27px;
  color: rgba(15, 23, 39, 1);
  align-self: stretch;
  position: relative;
}
.arrows {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.arrows > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.arrows > :global(.__wab_flex-container) > *,
.arrows > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.arrows > :global(.__wab_flex-container) > picture > img,
.arrows
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.testiomonialCarouselArrow {
  backdrop-filter: blur(8px);
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(8px);
  border-radius: 28px;
}
.testiomonialCarouselArrow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.testiomonialCarouselArrow > :global(.__wab_flex-container) > *,
.testiomonialCarouselArrow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.testiomonialCarouselArrow > :global(.__wab_flex-container) > picture > img,
.testiomonialCarouselArrow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___5VH24 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #475467;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.testiomonialCarouselArrow2 {
  backdrop-filter: blur(8px);
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(8px);
  border-radius: 28px;
}
.testiomonialCarouselArrow2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.testiomonialCarouselArrow2 > :global(.__wab_flex-container) > *,
.testiomonialCarouselArrow2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.testiomonialCarouselArrow2 > :global(.__wab_flex-container) > picture > img,
.testiomonialCarouselArrow2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___90IVs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #475467;
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
